body {
  margin: 0;

  background-color: black;
  /* font-family: 'Poiret One', sans-serif;
    font-family: 'Spirax', sans-serif; */
}

.page-wrapper {
  width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Spirax", sans-serif;
  height: 50px;
  background-color: rgba(68, 9, 9, 0.39);
  color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  max-width: 900px;
  left: 50%;
  transform: translateX(-50%);
}

header p {
  margin: 20px;
  font-size: 30px;
}
header p > a {
  text-decoration: none;
  color: inherit;
}

.hot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("img/hot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 900px;
  border-bottom: solid 15px rgb(68, 9, 9);
}
.juicy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("img/juicy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 900px;
  border-bottom: solid 10px rgb(68, 9, 9);
}
.cosy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("img/cosy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 900px;
  margin-bottom: 10px;
}

.hot h1,
.juicy h1,
.cosy h1 {
  margin-top: 100px;
  color: rgb(114, 5, 5);
  font-family: "Spirax", sans-serif;
  font-size: 80px;
  font-weight: bold;
}

.description-1,
.description-2 {
  color: white;
  background-color: rgba(114, 5, 5, 0.664);
  padding: 10px;
  font-family: "Poiret One", sans-serif;
  width: 400px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description-1 {
  margin-right: 300px;
}
.description-2 {
  width: 400px;
  margin-left: 100px;
}

.container {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.692);
  color: rgba(255, 255, 255, 0.774);
  width: 400px;
  font-family: "Poiret One", sans-serif;
  margin-bottom: 20px;
}

.container p {
  margin: 0;
}
